/* Filename: App.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.homepage,
.maps,
.simulation {
	background-color: #ffffff;
	display: flex;
	margin-left: 260px;
	font-size: 2rem;
	flex-direction: column;
	margin-bottom: 20px;
}
  
.homepage p,
.rawdata p{
	border: 2px solid rgb(219, 219, 219); 
	margin-top: 10px;
	border-radius: 10px; 
	padding: 20px; 
	font-size: 25px; 
}

.rawdata{
	background-color: #ffffff;
	display: flex;
	margin-left: 260px;
	font-size: 2rem;
	flex-direction: column;
	margin-bottom: 20px;
}

.raw_data_table {
	background-color: #ffffff;
	display: flex;
	margin-left: 220px;
	font-size: 2rem;
	flex-direction: column;
	margin-bottom: 20px;
}

.select-dropdown {
	margin-left: 150px;
}

.chartTitle {
	display: flex;
	height: 60px;
	background-color: lightgray;
	/* margin-left: 250px; */
}

.chartDropdown {
	margin-left: 200px;
	padding-left: 170px;
	align-items: center;
}

.chartDropdown1 {
	margin-left: 300px;
	/* padding-left: 200px; */
	align-items: center;
}

.barChart {
	/* margin-top: 20px; */
	display: flex;
	margin-left: 200px;
}

.mapTitle {
	font-family: sans-serif;
  	text-align: center;
}

path {
	pointer-events: all;
	opacity: 0.50;
}
path:hover {
	opacity:1;
	cursor: pointer;
}
  